---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getPermalink, getHomePermalink, getBlogPermalink, getAsset } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;

const sectionThreeTitle = "Контакты";
const email = "we@sobakapav.ru";
const phone = "7 (495) 191-92-81";
const whatsup = "NZGZSOAXXM2IN1";
const telegramLink = "https://t.me/sobakapavpro";
---

<div class="bg-[#212121] text-white justify-center h-fit pt-10 pb-24">
  <div class="justify-start max-w-7xl mx-auto px-4 sm:px-6">  
    <h3 class="text-[52px] font-heading text-white leading-none flex flex-wrap flex-col sm:flex-row gap-4">Пишите нам: <a href={SITE.telegramContact.link} class="no-underline hover:underline underline-offset-4 flex flex-row items-center">@sobakapavpro</a></h3>
  </div>
</div>


